@model IEnumerable<Vidly2.Models.Film>
@{
    ViewBag.Title = "Filmler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filmler</h2>

<p>
    @Html.ActionLink("YENİ FİLM", "Yeni", "Filmler", null, new { @class="btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Film</th>
                <th>Tür</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var film in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@film.Ad, "Duzenle", "Filmler", new { id = film.Id }, null)</td>
                    <td>@film.Tur.Ad</td>
                </tr>
            }
        </tbody>
    </table>


