@model Vidly2.Models.Musteri

@{
    ViewBag.Title = "Ayrintilar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Ad</h2>
<ul>
    <li>Membership Type: @Model.UyelikTuru.Ad</li>
    @if (Model.DogumTarihi.HasValue)
    {
        <li>Doğum Günü: @Model.DogumTarihi.Value.ToShortDateString()</li>
    }
</ul>

