@model IEnumerable<Vidly2.Models.Musteri>
@{
    ViewBag.Title = "Müşteriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Müşteriler</h2>
@if (!Model.Any())
{
    <p>Henüz hiç müşterimiz yok.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Müşteriler</th>
            <th>Üyelik Türü</th>
            <th>İndirim Oranı</th>

        </tr>
        </thead>
        <tbody>
        @foreach (var musteri in Model)     // here we iterate over our object and the query is actually executed here.
        {
            <tr>
                <td>@Html.ActionLink(@musteri.Ad, "Duzenle", "Musteriler", new { id = musteri.Id }, null)</td>
                <td>@musteri.UyelikTuru.Ad</td>
                <td>%@musteri.UyelikTuru.IndirimOrani</td>
            </tr>
        }
        </tbody>
    </table>
}

