@model IEnumerable<Vidly2.Models.Musteri>
@{
    ViewBag.Title = "Müşteriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Müşteriler</h2>

<p>
    @Html.ActionLink("YENİ MÜŞTERİ", "Yeni", "Musteriler", null, new { @class="btn btn-primary" })
</p>

<table id="musteriler" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Müşteriler</th>
        <th>Üyelik Türü</th>
        <th>Sil</th>

    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $('#musteriler').DataTable({
                ajax: {
                    url: "/api/musteriler",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "ad",
                        render: function(data, type, musteri) {
                            return "<a href='/musteriler/duzenle/" + musteri.id + "'>" + musteri.ad + "</a>";
                        }
                    },
                    {
                        data: "uyelikTuru.ad"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-musteri-id=" + data + ">Sil</button>";
                        }
                    }
                ]
            });

            $("#musteriler").on("click", ".js-delete", function() {
                    var button = $(this);

                    bootbox.confirm("Bu müşteriyi silmek istediğinize emin misiniz?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/musteriler/" + button.attr("data-musteri-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });

        });
    </script>
}
